<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head }}
  <title>Brendan Devenney - {{title}}</title>
</head>

<body onload="init()">
  <main class="container" id="main">
    {{> partials/nav }}

   <section>
    <article class="markdown">
        <a href="/blog/index.html"><i class="fa-solid fa-arrow-left"></i> return to blog</a>
        <hgroup>
          <h1>{{title}}</h1>
          <p>by {{author}} on {{date}}</p>
        </hgroup>

        {{{content}}}
    </article>
    </section>
  </main>

  {{> partials/footer}}
</body>
</html>